#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://developers.cloudflare.com/argo-tunnel/reference/config

# tunnel with name {{ item.name }}
tunnel: "{{ item.id }}"
credentials-file: "/etc/cloudflared/{{ item.id }}.json"
{{ item.config | to_nice_yaml(indent=0) }}
